<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>recsenha</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div class="cont">
    <ion-img class="img-logo" src="../../../assets/kidcashlogo.png" alt="logo"></ion-img>

    <div class="corpo">
      <div class="corpo2">
        <h2>Recuperação de senha</h2>
        <div class="separator"></div>
        <p>Para recuperação de senha, informe o endereço de email cadastrado para enviarmos um link de alteração de
          senha</p>
        <ion-item>
          <ion-input class="senha" placeholder="Email" value=""></ion-input>
        </ion-item>
        <div class="botao">
          <ion-button fill="outline" [routerLink]="['/home']" color="success">Enviar</ion-button> 
          </div>
          <p class="text-cad" [routerLink]="['/home']" routerLinkActive="router-link-active">Voltar ao login</p>
      </div>
    </div>
  </div>
</ion-content>